.salesContainer {
    display: flex;
    flex-direction: column;
    width: 60%;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    padding: 2% 0% 2% 0%;
}

.salesTitle {
    font-size: 120%;
    font-weight: bold;
    margin: 2% 0% 2% 0%;
}
.salesItems {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}