# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/venv
/.idea
/src/__pycache__
/src/model/
/src/pybithumb/
/src/domain/
/key.txt
/Pipfile
/README.md
/migrations
/*.txt

