.coinInfoContentsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    margin-top: 2%;
}

.coinInfoContentsSubContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 50px;
}
.coinInfoContent {
    font-weight: bold;
    width: 100%;
}