.coinInfoItemContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    margin: 2% 0% 2% 0%;
}

.coinInfoItem {
    flex-wrap: wrap;
    width: 100%;
}