.findingContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: #a9a9a9;
    padding: 0 8% 2% 8%;
}

a:link {
    color: #a9a9a9;
    text-decoration: underline;
}