.additionalInfoContainer {
    width: 28%;
    height: max-content;
    padding: 1% 0% 1% 0%;
}

.chartContainer {
    border: 1px solid #c4c4c4;
}

.chartTitle, .chartSubTitle{
    font-weight: bold;
    margin: 3% 0% 3% 0%;
    padding: 0% 10% 0% 10%;
    text-align: left;
}

.chartTitle {
    font: 120%;
}

.chartSubTitle {
    font: 110%;
}

.info {
    display: flex;
    flex-direction: column;
    margin: 0% 1.5% 3% 1.5%;
    border: solid 1px #c4c4c4;
}