.chartContainer {
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    width: 28%;
    height: max-content;
    padding: 1% 0% 1% 0%;
}

.chartTitle {
    font-size: 120%;
    font-weight: bold;
    margin: 2% 0% 2% 0%;
}

.chartItems {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}