.NavigationContainer {
    position: fixed;
    width: 100%;
    height: 60px;
    z-index: 100;
    border-bottom: 1px solid #C4C4C4;
    padding: 0 5% 0 5%;
    background: #ffffff;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: inherit;
}

.title {
    font-size: 18px;
    font-weight: bold;
}

.logo {
    color: black;
    text-decoration: none;
}

.logo:hover {
    text-decoration: none;
}

ul {
    display: inline-flex;
    width: 20%;
    justify-content: space-between;
}

li {
    list-style: none;
    float: left;
}

.menu {
    margin: 0 1% 0 1%;
    max-width: 60px;
    width: 100%;
}

.tradingBtn {
    width: 27%;
    font-size: 100%;
    margin: 0;
    border-radius: 6%;
}

.quit {
    background: gray;
    color: #FFFFFF;
    font-weight: bold;
    border: 1px solid gray;
}