.ownedCoinItemContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: max-content;
    margin: 2% 0% 2% 0%;
}

.ownedCoinContent {
    font-weight: bold;
    width: 100%;
}